@page
@model DemoRazorP.Pages.Clientes.ModificarModel
@{
    ViewData["Title"] = "Modificar Cliente";
}

<br />
<h2>Modificar Cliente</h2>

<!--Para el Manejo de Errores-->
@if (Model.mensajeError.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role="alert">
        <strong>@Model.mensajeError</strong>
        <button type="button" class="btn-close" data-bs-dismiss ='alert' aria-label='Close'></button>
    </div>
}
<form method="post">
    <input type="hidden" name="codigo" value="@Model.newCliente.codCliente" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nombre" value="@Model.newCliente.nomcliente" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Direccion:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="direccion" value="@Model.newCliente.Direccion" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Telefono:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="telefono" value="@Model.newCliente.Telefono" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Fecha de la Compra:</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="fechacompra" value="@Model.newCliente.fechaCom" />
        </div>
    </div>
    <!--Mostrar Mensaje que se Cambio Correctamente-->
    @if (Model.mensajeExito.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class='alert alert-dismissible fade show' role = 'alert'>
                    <strong>@Model.mensajeExito</strong>
                    <button type="button" class="btn-close" data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
            </div>
        </div> 
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-secondary">Modificar</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" asp-page="/Clientes/Index" role="button">Cancelar</a>
        </div>
    </div>

</form>

